<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Added to protect sensitive data from being committed to Source Control-->
  <!--Because of the file attribute on the appSettings in the web.config, 
  these two sections will be merged together at runtime by the .NET Framework. 
  For the file attribute to work, this config file should only contain info about appSettings.-->
  <add key="EmailClient" value="mail.ryanjpalmer.net"/>
  <!-- Email user on the hosting account -->
  <add key="EmailUser" value="postmaster@ryanjpalmer.net"/>
  <!-- Password for the email user-->
  <add key="EmailPassword" value="KPcp5540$"/>
  <!-- Email address to send the contact info to -->
  <add key="EmailTo" value="admin@ryanjpalmer.net"/>
</appSettings>
