<main>
    <div class="row">
        <div class="col-md-6">
            <h2>Technical Experience</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            Technical Experience
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Full Stack Web Development</strong></td>
                        <td>Centriq, LaunchCode</td>
                    </tr>
                    <tr>
                        <td><strong>GitHub</strong></td>
                        <td>Centriq, LaunchCode</td>
                    </tr>
                    <tr>
                        <td><strong>.NET Framework</strong></td>
                        <td>Centriq</td>
                    </tr>
                    <tr>
                        <td><strong>Database Management</strong></td>
                        <td>Centriq</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Education</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            Technical Experience
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Full Stack Web Development</strong></td>
                        <td>Centriq, LaunchCode</td>
                    </tr>
                    <tr>
                        <td><strong>GitHub</strong></td>
                        <td>Centriq, LaunchCode</td>
                    </tr>
                    <tr>
                        <td><strong>.NET Framework</strong></td>
                        <td>Centriq</td>
                    </tr>
                    <tr>
                        <td><strong>Database Management</strong></td>
                        <td>Centriq</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Technical Experience</h2>
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        Technical Experience
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Full Stack Web Development</strong></td>
                    <td>Centriq, LaunchCode</td>
                </tr>
                <tr>
                    <td><strong>GitHub</strong></td>
                    <td>Centriq, LaunchCode</td>
                </tr>
                <tr>
                    <td><strong>.NET Framework</strong></td>
                    <td>Centriq</td>
                </tr>
                <tr>
                    <td><strong>Database Management</strong></td>
                    <td>Centriq</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>