<header class="jumbotron">
    <div class="container">
        <h2>My Resume</h2>
        <br />
        <div class="row">
            <div class="col-md-6 resume">
                <h4>Ryan J. Palmer</h4>
                Full Stack Web Developer
                <p>
                    Bright technologist who quickly adapts knowledge into performance blended with innovative approaches.
                    Consistently driven to complete tasks beyond the expectations of my leaders.
                    New to the industry, but my innate aptitude & pace of learning exceeds most others.
                </p>

            </div>
            <div class="col-md-6 resume">
                <h2>Technical Experience</h2>
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Full Stack Web Development</strong></td>
                            <td>Centriq, LaunchCode</td>
                        </tr>
                        <tr>
                            <td><strong>GitHub</strong></td>
                            <td>Centriq, LaunchCode</td>
                        </tr>
                        <tr>
                            <td><strong>.NET Framework</strong></td>
                            <td>Centriq</td>
                        </tr>
                        <tr>
                            <td><strong>Database Management</strong></td>
                            <td>Centriq</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 resume">
                <h2>Education</h2>
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Centriq</strong></td>
                            <td>Full Stack Web Development - C#, HTML, CSS, JavaScript, SQL, MVC, and more</td>
                        </tr>
                        <tr>
                            <td><strong>Launchcode</strong></td>
                            <td>Web Development - Python, HTML, CSS</td>
                        </tr>
                        <tr>
                            <td><strong>PluralSight eLearning</strong></td>
                            <td>Supplementary Coding Education</td>
                        </tr>
                        <tr>
                            <td><strong>University of Illinois</strong></td>
                            <td>Public Speaking, Communications, Leadership, Intro to Computer Science</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 resume">
                <h2>Work Experience</h2>
                <table>
                    <tbody>
                        <tr>
                            <td><strong>AGP Audio Visual Events</strong></td>
                            <td>Client Relations, Gear Technician, Finances, Scheduling and Training</td>
                        </tr>
                        <tr>
                            <td><strong>Best Buy</strong></td>
                            <td>Sales, responsible for staying up to date on the newest technologies</td>
                        </tr>
                        <tr>
                            <td><strong>Amazon Fulfillment</strong></td>
                            <td>Warehouse Floor, operated complex machinery while using company software</td>
                        </tr>
                        <tr>
                            <td><strong>Amazon Delivery</strong></td>
                            <td>Delivery Driver, optimized a self-paced schedule to efficiently complete routes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class=" col-md-12">
                <object data="~/Content/Resume_R Palmer_FullStack Dev.pdf" type="application/pdf" width="100%" height="1000">
                    alt : <a href="~/Content/Resume_R Palmer_FullStack Dev.pdf">Resume</a>
                </object>
            </div>
        </div>
    </div>
</header>