<header class="jumbotron">
    <div class="container">
        <h2>Contact Me</h2>
        <p>I'd love to talk with you more about working together!</p>
        <ul>
            <li>Phone</li>
            <li>Email</li>
            <li>LinkedIn</li>
        </ul>
    </div>
</header>