
<!-- Main Content-->
<header class="jumbotron">
    <div class="container">
        <h2>About Me</h2>
        <p>
            I’m Ryan Palmer, and I’m a Full Stack Web Developer.
            <br /><br />
            Before quarantine, I was a tech professional for corporate events. While on the job, I quickly learned the necessary technical information as well as the business side of working with clients. After the branch went through some understaffing issues, I took responsibility for most of the branch's operations. Through a mix of careful planning and rapid adaptation, I took charge of the branch and developed my ability for self-sufficient problem solving. The job taught me a lot about turning a customer's vision into a tangible result, and that's something I want to transfer to my love of technology.
            <br /><br />
            I've been around tech all my life. I think computers give us the power to create and share things we never could before. My first year in college, I built my own high-end PC from parts, and in my spare time I enjoy making videos with Adobe Premiere. I want to take the next step and build systems that can reach out to people all over the world.
            <br /><br />
            I clicked with coding really well through training at Centriq and I’ve quickly become proficient in C#, HTML5, and database integration. I love to create things, aim to lead, and I'm one of the fastest learners you'll meet. I’d love to talk with you more about working together to build great things.
        </p>
    </div>
</header>