<header class="jumbotron">
    <div class="container">
        <h2>Additional Links</h2>
        <p>Here are some extra resources</p>
        <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
        </ul>
    </div>
</header>