<header class="jumbotron">
    <div class="container">
        <h2>My Classmates</h2>
        <p>
            Here are the people I'm training with at Centriq, check them out!
            <br /><br />

        </p>
        <div id="accordion">
            <h3>First header</h3>
            <div>First content panel</div>
            <h3>Second header</h3>
            <div>Second content panel</div>
        </div>
        <br />
        <section class="row">
            <article class="col-md-4">
                <a href="http://rylandupson.com/" target="_blank">
                    <h2>Ryland Upson</h2>
                    <img src="~/img/ClassMates/WIN_20210602_19_04_18_Pro (2).jpg" width="100%" />
                </a>
            </article>
            <article class="col-md-4">
                <a href="http://www.daniellethedev.com/" target="_blank">
                    <h2>Danielle Smalley</h2>
                    <img src="~/img/ClassMates/headshot.jpg" width="100%" />
                </a>
            </article>
            <article class="col-md-4">
                <a href="http://www.jacobwoodworth.com" target="_blank">
                    <h2>Jacob Woodworth</h2>
                    <img src="~/img/ClassMates/Jake.jpg" width="100%" />
                </a>
            </article>
        </section>
        <br />
        <section class="row">
            <article class="col-md-4">
                <a href="http://schejbalcodes.com/" target="_blank">
                    <h2>David Schejbal</h2>
                    <img src="~/img/ClassMates/Profile_Picture.png" width="100%" />
                </a>
            </article>
            <article class="col-md-4">
                <a href="http://coderclyde.com/" target="_blank">
                    <h2>Clyde Parker</h2>
                    <img src="~/img/ClassMates/IMG_4704.jpg" width="100%" />
                </a>
            </article>
            <article class="col-md-4">
                <a href="http://caitlinchase.com/" target="_blank">
                    <h2>Caitlin Chase</h2>
                    <img src="~/img/ClassMates/1624906396441.jfif" width="100%" />
                </a>
            </article>
        </section>
        <br />
        <section class="row">
            <article class="col-md-4">
                @*<a href="http://itcodefox.net/" target="_blank">
                    <h2>Lavagust Fox</h2>
                    <img src="~/img/ClassMates/headshot-placeholder.jpg" width="100%" />
                </a>*@
            </article>
            <article class="col-md-4">
                <a href="http://jaethedeveloper.com/" target="_blank">
                    <h2>Jae Taylor</h2>
                    <img src="~/img/ClassMates/jae.jpg" width="100%" />
                </a>
            </article>
            <!--More to be added, I think?-->
        </section>
    </div>
</header>