<header class="jumbotron">
    <div class="container">
        <h2>My Classmates</h2>
        <p>
            Here are the people I trained with at Centriq, check them out! (More to be added as they become available)
            <br /><br />

        </p>
        <br />
        <section class="row">
            <article class="col-md-4">
                <a href="http://rylandupson.com/" target="_blank">
                    <h2>Ryland Upson</h2>
                    <img src="~/img/ClassMates/WIN_20210602_19_04_18_Pro (2).jpg" width="100%" />
                </a>
            </article>
            <article class="col-md-4">
                <a href="http://www.daniellethedev.com/" target="_blank">
                    <h2>Danielle Smalley</h2>
                    <img src="~/img/ClassMates/headshot.jpg" width="100%" />
                </a>
            </article>
            <article class="col-md-4">
                <a href="http://www.jacobwoodworth.com" target="_blank">
                    <h2>Jacob Woodworth</h2>
                    <img src="~/img/ClassMates/Jake.jpg" width="100%" />
                </a>
            </article>
        </section>
        <section class="row">
            <article class="col-md-4">
                <a href="http://schejbalcodes.com/" target="_blank">
                    <h2>David Schejbal</h2>
                    <img src="~/img/ClassMates/Profile_Picture.png" width="100%" />
                </a>
            </article>
            <!--More to add here-->
        </section>
    </div>
</header>