<header class="jumbotron">
    <div class="container">
        <h2>My Work</h2>
        <p>
            Below are some examples of projects I built myself.
            <br /><br />
            I'm a really big fan of the Destiny series by Bungie. So I put together a couple of projects themed around that universe, each project showing a different aspect of coding I've learned.'
        </p>
        <br />
        <section class="row">
            <article class="col-md-4">
                <a href="http://studio.ryanjpalmer.net">
                    <h2>Studio Project</h2>
                    <img src="~/img/teamplay.jpg" width="100%" />
                </a>
                @*<p style="font-style:italic">Click the RJP Logo to return to the main site</p>*@
                (DESTINY: CRUCIBLE CRASH COURSE) A static website designed to provide information about a local education service to improve your skills in Destiny's Crucible PvP.
            </article>
            <article class="col-md-4">
                <a target="_blank" href="https://github.com/RJPalmer9888/DungeonApp">
                    <h2>Dungeon Project</h2>
                    <img src="~/img/Zc5LnOoHtCn9c4u-le2Hpdbxmn4pQhs7z24G6rrBa9I.png" width="100%" />
                </a>
                <p>(DESTINY: LOST SECTOR v1) A dungeon crawler to root out the source of danger to the Last City. Set in the Destiny Universe, it is your duty to investigate the threat and put a stop to it.</p> 
                @*<p>Current features include randomized encounters, stats that influence your precision, damage, and critical hits, as well as a companion that can save you in the event of death if you've built it's confidence up.</p>
                <p>Future mechanics include a narrative-driven adventure to discover the source of the enemy's power, mechanic-based combat, multi-enemy battles, and much more.</p>*@
            </article>
            <article class="col-md-4">
                <a href="http://storefront.ryanjpalmer.net/">
                    <h2>Store Front Website</h2>
                    <img src="~/img/destiny-2s-june-9-season-reveal-shows-the-drifter-is-up-to-more-tomfoolery_feature.jpg" width="100%" />
                </a>
                <p>(DESTINY: DRIFTER'S ARMORY) A storefront catalog designed for organizing and purchasing items from the Destiny franchise!</p>
                

            </article>
        </section>
    </div>
</header>